
dist
.solid
.output
.vercel
.netlify
.vinxi

# Editor
.zed/

# Environment
.env
.env*.local

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# Temp
gitignore

# System Files
.DS_Store
Thumbs.db


# Added by cargo

/**/target
generated
content_watcher/build
renderer_gleam/build

api
